body,
ul {
    margin: 0;
    padding: 0;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1128px;
    flex-wrap: wrap;
    list-style: none;
    margin: 24px auto;
}
.gallery-item{
    width: 360px;
    height: 200px;
}
.gallery-image a {
    width: 100%;
    height: 100%;
}
.gallery-item a:hover {
    cursor: url("/img/test.svg"), auto;
}
.gallery-image{
    width: 100%;
    height: 100%;
}